

.bg-custom {
  background-color: #FFFFFF !important;
}
.bg-custom-chocolate {
  background-color: #4E342E !important;
}
.bg-custom-beige {
  background-color: #FBE9E7 !important;
}
.border-custom-tan {
  border-color: #D7CCC8 !important;
}
.text-custom-darkbrown {
  color:#3E2723 !important;
}
